@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nabla&family=Poppins:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.firstContainer {
  width: 32%;
  text-align: center;
  background-color: #485696;
}

.secondContainer {
  width: 68%;
  text-align: center;
  padding: 2rem;
  background-color: black;
}

h1 {
  font-family: "Nabla", cursive;
  padding: 10px;
  margin-top: 10px;
}

.subheading {
  font-family: "Indie Flower", cursive;
  color: white;
  font-weight: 900;
  margin: 0 10px 50px 10px;
  padding: 10px;
}

#searchbar {
  background: transparent;
  width: 40%;
  padding: 8px;
  transition: width 0.2s ease-in-out;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
}

#searchbar:focus {
  width: 60%;
}

.subhead {
  color: white;
  margin-top: -30px;
  margin-bottom: 10px;
  padding: 20px 30px;
  font-family: "Poppins", sans-serif;
}

.child {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.greater-child {
  background-color: white;
  display: flex;
  padding: 1rem;
  width: 650px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.greater-child img {
  width: 35%;
}

.details {
  padding: 0 1rem;
}

.details h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 5px;
  border-bottom: 2px solid rgb(176, 48, 176);
}

.rate,
.release {
  font-size: 0.9rem;
  font-weight: normal;
}

.rating,
.released {
  padding: 0 3px;
}

.overview {
  margin-top: 10px;
  font-size: 0.8rem;
  width: 100%;
  height: 100px;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .firstContainer {
    width: 100%;
    margin-bottom: 10px;
  }
  .secondContainer {
    width: 100%;
  }
}
