@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #224870;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.heading {
  font-family: "Pacifico", cursive;
  text-align: center;
  background-color: #d66ba0;
  color: white;
  height: 15%;
}

.heading h2 {
  font-size: 40px;
  display: inline-block;
  margin: 20px 0;
}

.givenText {
  border: 5px solid burlywood;
  height: 30%;
  border-radius: 10px;
  background-color: aliceblue;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.givenText p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.areaToWrite {
  border: 10px solid burlywood;
  background-color: aliceblue;
  height: 30%;
  border-radius: 10px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputArea {
  background-color: aliceblue;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  resize: none;
  padding: 60px;
}

.allotedTime {
  margin: 0 auto;
  border: 5px solid burlywood;
  border-radius: 10px;
  background-color: aliceblue;
  height: 15%;
  width: 20%;
}

.btn {
  /* display: inline-block; */
  border: 3px solid green;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 8px 13px;
  background-color: #628395;
  color: white;
  font-size: larger;
  margin: 0 auto;
  font-family: "Permanent Marker", cursive;
  cursor: pointer;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: rgb(45, 129, 45);
}
